ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
}

li{
    display: block;
}
.home{
    float: right;
    font-size: 25px;
    padding: 8px 14px;
}

ul a{
    position: -webkit-sticky;
    position: sticky;
    color: #d4d4d4;
    font-size: 18px;
    font-family: "微軟正黑體";
    font-weight: bolder;
    text-align: center;
    width: auto;
    padding: 11px 20px 11px 20px;
    text-decoration: none;
    letter-spacing: 1px;
    display: block;
    transition-duration: 0.3s;
}

ul a:hover{
    color: white;
}
