nav{
    background-color: cadetblue;
    color: rgb(2, 47, 99);
    font-weight: bold;
    height: 80px;
    width: 100%;
}

label.logo{
    color: rgb(2, 47, 99);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
}

nav label{
    line-height: 80px;
    color: rgb(2, 47, 99);
    font-size: 30px;
    font-family: 'Candal', serif;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-size: 24px;
    font-family: 'Microsoft JhengHei';
}

nav ul li a{
    color: rgb(2, 47, 99);
    text-transform: uppercase;
}

nav ul li a:hover{
    display: block;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.logo{
    padding: 0;
    margin: 0;
    height: 80px;
    float: left;
}
