body .picker{
    height: 122px;
    border: 1px solid red;
    display: flex;
    align-items: center;
}

.dot-container{
    width: fit-content;
    margin: auto;
    border: 1px solid red;
    align-items: center;
    display: flex;
}

.dot-container .dot{
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 3px solid red;
    width: auto;
    height: 50px;
    white-space: nowrap;
    border-radius: 50%;
}

#black{
    background-color: black;
}

#white{
    background-color: white;
}

#gray{
    background-color: #C0C0C0;
}
